.country-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.country-card {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  overflow: hidden;
  margin: 10px;
  position: relative;
  transform: translateY(20px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  animation: slideIn 0.5s forwards;
}

.country-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.flag {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.country-card:hover .flag {
  transform: scale(1.1);
}

select {
  padding: 10px 25px;
  background: hsl(209, 23%, 22%);
  margin-bottom: 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
