.app{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 400px;
  background: url("./assets/home-background.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
}